{% extends 'base.html' %}

{% block title %}소개 | ASC{% endblock %}

{% block content %}
    <section id="intro">
        <h2>소개</h2>
        <ul>
            <li>⭐ASC란?⭐ <br>
                교내 유일의 ❕컴퓨터 융합 학술 동아리❕입니다! <br>
                무려 43년 전통의 아스키는 컴퓨터의 간단한 내용부터 개발까지 컴퓨터의 다양한 것들에 대해 다룹니다.
            </li>
            <li>
                ASC에서는 무엇을 하나요?🤷🏻‍♂️ <br>
                혼자 공부하기에는 부족하기만 한 분들을 위해 파이썬, C언어, ai, 웹 등 다양한 📖스터디📖가 있습니다! <br>
                학교 생활이 지루하지 않도록 학업📚과 취미생활🎮을 다른 동기, 선배들과 함께할 수 있는 소모임도 다양하게 있습니다!
            </li>
            <li>
                ASC의 장점은 무엇이 있을까?✨ <br>
                ✔️첫째, 연세대학교 미래 캠퍼스의 단 하나뿐인 컴퓨터 중앙동아리입니다! <br>
                ✔️둘째, 학업과 휴식을 병행할 수 있는 다양한 스터디📝와 소모임🙋🏻‍♂️들이 있습니다! <br>
                ✔️셋째, MT, 피크닉, 게임대회와 같이 부원 모두가 즐길 수 있는 행사와 ASC 모의고사, 스페이스지, 공모전과 같은 학업적으로 도움이 되는 행사를 ASC에서 만나실 수 있습니다! <br>
                ✔️넷째, ASC 아이디어톤과 해커톤을 진행하여 여러분들의 재능을 마음껏 뽐낼 수 있습니다! <br>
                ✔️다섯째, ASC 동방에는 다양한 보드게임 및 휴식공간이 있습니다! 자유롭게 오셔서 이용하실 수 있습니다.
            </li>
        </ul>
    </section>
{% endblock %}