{% extends 'base.html' %}

{% block title %}가입 안내 | ASC{% endblock %}

{% block content %}
    <section id="join">
        <h2>가입 안내</h2>
        <p>⭐지원 폼⭐ <br>
            아래 구글폼 양식을 작성하여 신청해 주세요.</p>
        <ul>
            <li><a href="https://forms.gle/BArmQbcUHqnZN5NV6" target="_blank">구글폼 바로가기</a></li>
            <li>⭐ 문의사항이 있으시다면? <br>
                ✔️ ASC 동방 🌟학생회관 428호🌟 <br>
                ✔️ ASC 회장 이서준 / 연락처 010-9995-1811 <br>
                ✔️ 궁금한 점이 있으시면 연락해주세요!</li>
        </ul>
    </section>
{% endblock %}