{% extends 'base.html' %}

{% block title %}조직도 | ASC{% endblock %}

{% block content %}
    <section id="team">
        <h2>조직도</h2>
        <ul>
            <li>회장: 이서준</li>
            <li>부회장 & 회계부장: 전예진 / 회계부원: 김예은</li>
            <li>기획부장: 홍윤걸 / 기획부원: 신혜성, 조하영</li>
            <li>홍보부장: 이윤성 / 홍보부원: 김우형, 장유진</li>
            <li>편집부장: 박성준 / 편집부원: 강석현, 문소은</li>
            <li>관리부장: 윤도경 / 관리부원: 남우현</li>
            <li>학술부장: 박정우 / 학술부원: 이찬옥, 임승묵</li>
        </ul>
    </section>
{% endblock %}